.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    p {
      margin: 0;
    }
  
    nav {
      text-align: right;
  
      ul {
        list-style-type: none;
  
        li {
          display: inline-block;
          margin-left: 20px;
  
          a {
            color: $color_1;
            text-decoration: none;
          }
        }
      }
    }
  }