.slider {
    padding: 10rem;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../imgs/fondo2.jpg);
    color: $color_1;
    height: 600px;
  
    h1 {
      font-size: 3rem;
    }
    
    .reserva {
      display: inline-block;
      padding: 10px 20px;
      background-color: $background-color_2;
      color: $color_1;
      text-decoration: none;
      font-weight: bold;
      margin-top: 20px;
  
      &:hover {
        text-decoration: none;
        background-color: $background-color_3;
      }
    }
  }