$font-family_1: Arial, sans-serif;
$font-family_2: "Roboto", sans-serif;
$color_1: #fff;
$color_2: black;
$color_3: #333;
$background-color_1: #57433A;
$background-color_2: #512B1E;
$background-color_3: #712B1E;
$background-color_4: beige;